__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
.env

build/
dist/

data/articles/*
!data/articles/.gitkeep
!data/articles/vijte-1532-kolko-tezhi-edna-leka-muha.html
data/scripts/*
!data/scripts/.gitkeep
!data/scripts/vijte-1532-kolko-tezhi-edna-leka-muha.translation.txt
!data/scripts/vijte-1532-kolko-tezhi-edna-leka-muha.txt
data/audio/*
!data/audio/.gitkeep
!data/audio/vijte-1532-kolko-tezhi-edna-leka-muha.wav
